body { background-color:rgba(206, 132, 59, 100); 
    font-family: "Instrument Serif"; 
  margin:0px;} 
  main {
    text-align: center;
  }
    .navbar ul{
      listt-style-type: none; 
      background-color: rgba(161, 137, 92, 0.45); 
      padding: 0px; 
      margin: 0px;
    } 
    .navbar a{
      color: white; 
      text-decoration: none;
      padding: 15px; 
      display: flex; 
      flex-direction: rows; 
      justify-content: space-evenly;
    }
     .navbar a:hover{ 
      background-color:rgba(138, 117, 79, 0.45);
     } 
     
   
   img {width: 297px;
   height: 300px;} 
   h1{ 
   text-align: center;} 
   
   footer {
   background-color: rgba(161, 137, 92, 0.45); 
   height: 70px;} 